body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../images/female.jpg");
    background-size: cover;

}
h1 {
    text-align: center;
    text-decoration-color: darkkhaki;
}
.p2 {
    text-decoration-line: darkkhaki;
    
}
.form-check-label{
    margin-right:20px;
}
.col-lg-3{
    margin:15px;
    margin-right:75px;
}
button{
    margin-top:10px;
    width: 200px;
    border-radius: 25px;
}

#v{
    font-family: fantasy;
    font-style: oblique;
    color: chartreuse;
}